Repository goblint/analyzer, pull requests merged in 2020-11, with the labels that each got.

#124 Replace Vars component and sync with direct sideg in region analysis
  src/analyses/region.ml
  src/analyses/shapes.ml
  src/cdomains/musteqDomain.ml
  src/cdomains/regionDomain.ml
  src/framework/control.ml
Labels: cleanup

#128 Cast ints on read instead of write in base analysis
  src/analyses/base.ml
  src/cdomains/valueDomain.ml
  tests/regression/03-practical/02-index_nonstruct.c
Labels: bug

#131 Fix arithmetic on bot failures for SV-COMP benchmarks
  src/analyses/base.ml
  src/cdomains/intDomain.ml
  tests/regression/29-svcomp/11-arithmetic-bot.c
  tests/regression/29-svcomp/12-interval-bot.c
  tests/regression/29-svcomp/13-comparision-bot.c
  tests/regression/29-svcomp/14-addition-in-comparision-bot.c
Labels: bug, sv-comp

#132 Malloc wrappers
  src/analyses/base.ml
  src/analyses/mallocWrapperAnalysis.ml
  src/analyses/malloc_null.ml
  src/analyses/spec.ml
  src/cdomains/baseDomain.ml
  src/domains/queries.ml
  src/util/defaults.ml
  tests/regression/02-base/23-malloc_globmt.c
  tests/regression/08-malloc_null/01-simple-malloc.c
  tests/regression/08-malloc_null/02-paths-malloc.c
  tests/regression/22-partitioned_arrays/08-unsupported.c
  tests/regression/23-partitioned_arrays_last/08-unsupported.c
  tests/regression/29-svcomp/05-isp1362-malloc-fun.c
  tests/regression/29-svcomp/07-malloc_fun.c
  tests/regression/29-svcomp/08-malloc_fun2.c
Labels: feature, sv-comp

#136 Add __VERIFIER_atomic_* support
  conf/svcomp21.json
  includes/sv-comp.c
  src/analyses/libraryFunctions.ml
  src/analyses/mutexAnalysis.ml
  src/framework/control.ml
  src/maingoblint.ml
  src/util/defaults.ml
  tests/regression/29-svcomp/15-atomic_nr.c
  tests/regression/29-svcomp/16-atomic_priv.c
  tests/regression/29-svcomp/17-atomic_fun_nr.c
  tests/regression/29-svcomp/18-atomic_fun_priv.c
Labels: feature, sv-comp

#125 Remove unused must-equals component from region analysis
  src/analyses/region.ml
  src/analyses/shapes.ml
  src/cdomains/regionDomain.ml
Labels: cleanup

#142 Fix var_eq analysis not invalidating escaped variable
  src/analyses/varEq.ml
  tests/regression/06-symbeq/24-escape_rc.c
Labels: bug, sv-comp, unsound

#143 Fix var_eq from keeping equalities with pointers to globals
  src/analyses/varEq.ml
  src/cdomains/exp.ml
  src/util/goblintutil.ml
  tests/regression/06-symbeq/22-var_eq_types.c
  tests/regression/06-symbeq/25-ptr_global.c
  tests/regression/29-svcomp/20-char_generic_nvram.c
Labels: bug, sv-comp, unsound

#145 Fixes/calloc
  src/analyses/base.ml
  src/analyses/libraryFunctions.ml
  src/analyses/libraryFunctions.mli
  src/analyses/osek.ml
  src/cdomains/arrayDomain.ml
  src/cdomains/basetype.ml
  src/cdomains/valueDomain.ml
  tests/regression/02-base/35-calloc_array.c
  tests/regression/02-base/36-calloc_struct.c
  tests/regression/02-base/37-calloc_glob.c
  tests/regression/02-base/38-calloc_int.c
  tests/regression/02-base/39-calloc_matrix.c
  tests/regression/02-base/40-calloc_loop.c
  tests/regression/02-base/41-calloc_globmt.c
  tests/regression/02-base/42-calloc_zero_init.c
  tests/regression/02-base/43-calloc_struct_array.c
  tests/regression/02-base/44-malloc_array.c
Labels: sv-comp

#149 Support for checking NoOverflows property of SV-COMP
  src/analyses/base.ml
  src/cdomains/intDomain.ml
  src/framework/myCFG.ml
  src/maingoblint.ml
  src/util/cilfacade.ml
  src/util/defaults.ml
  src/util/goblintutil.ml
  src/witness/svcomp.ml
  src/witness/witness.ml
  sv-comp/sv-comp-run-no-overflow.py
  tests/sv-comp/no-overflow.prp
Labels: feature, sv-comp
