Repository goblint/analyzer, pull requests merged in 2024-11, with the labels that each got.

#1614 Replace some `fold`s with `exists` or `for_all`
  .semgrep/fold.yml
  src/analyses/basePriv.ml
  src/domain/partitionDomain.ml
  src/incremental/compareCFG.ml
  src/solver/td3.ml
  src/witness/witness.ml
Labels: cleanup, performance

#1612 Autotune for `ana.malloc.unique_address_count` for NoOverflows in SV-Comp
  conf/svcomp-validate.json
  conf/svcomp.json
  src/autoTune.ml
  src/config/options.schema.json
  src/goblint.ml
  src/maingoblint.ml
Labels: sv-comp, precision

#1519 Partially support `imaxabs` for SV-COMP
  conf/svcomp-validate.json
  conf/svcomp.json
  conf/svcomp24-validate.json
  conf/svcomp24.json
  src/analyses/baseInvariant.ml
  src/util/library/libraryFunctions.ml
  tests/regression/39-signed-overflows/11-imaxabs.c
  tests/regression/39-signed-overflows/12-imaxabs-sqrt.c
  tests/regression/39-signed-overflows/13-imaxabs-macos.c
Labels: feature, sv-comp, precision

#1596 Add YAML `invariant_set` indices to widening tokens
  src/analyses/apron/relationAnalysis.apron.ml
  src/analyses/base.ml
  src/analyses/mCP.ml
  src/analyses/unassumeAnalysis.ml
  src/domains/events.ml
  src/framework/control.ml
  src/goblint_lib.ml
  src/lifters/wideningToken.ml
  src/lifters/wideningTokenLifter.ml
  tests/regression/56-witness/64-apron-unassume-set-tokens.c
  tests/regression/56-witness/64-apron-unassume-set-tokens.yml
  tests/regression/56-witness/dune
Labels: bug, sv-comp, precision

#1394 Generate flow-insensitive YAML witness invariants with ghosts for privatized variables
  conf/svcomp-ghost.json
  scripts/goblint-lib-modules.py
  src/analyses/apron/relationAnalysis.apron.ml
  src/analyses/apron/relationPriv.apron.ml
  src/analyses/base.ml
  src/analyses/basePriv.ml
  src/analyses/mCP.ml
  src/analyses/mutexAnalysis.ml
  src/analyses/mutexGhosts.ml
  src/analyses/unassumeAnalysis.ml
  src/analyses/varEq.ml
  src/analyses/wrapperFunctionAnalysis.ml
  src/cdomain/value/cdomains/valueDomain.ml
  src/common/util/richVarinfo.ml
  src/common/util/richVarinfo.mli
  src/config/options.schema.json
  src/domains/queries.ml
  src/goblint_lib.ml
  src/lifters/longjmpLifter.ml
  src/lifters/recursionTermLifter.ml
  src/lifters/specLifters.ml
  src/util/library/libraryFunctions.ml
  src/witness/witnessGhost.ml
  src/witness/witnessGhostVar.ml
  src/witness/yamlWitness.ml
  src/witness/yamlWitnessType.ml
  tests/regression/13-privatized/04-priv_multi.t
  tests/regression/13-privatized/25-struct_nr.t
  tests/regression/13-privatized/74-mutex.t
  tests/regression/13-privatized/92-idx_priv.c
  tests/regression/13-privatized/92-idx_priv.t
  tests/regression/13-privatized/dune
  tests/regression/29-svcomp/16-atomic_priv.t
  tests/regression/36-apron/12-traces-min-rpb1.t
  tests/regression/56-witness/64-ghost-multiple-protecting.c
  tests/regression/56-witness/64-ghost-multiple-protecting.t
  tests/regression/56-witness/65-ghost-ambiguous-lock.c
  tests/regression/56-witness/65-ghost-ambiguous-lock.t
  tests/regression/56-witness/66-ghost-alloc-lock.c
  tests/regression/56-witness/66-ghost-alloc-lock.t
  tests/regression/56-witness/67-ghost-no-unlock.c
  tests/regression/56-witness/67-ghost-no-unlock.t
  tests/regression/56-witness/68-ghost-ambiguous-idx.c
  tests/regression/56-witness/68-ghost-ambiguous-idx.t
  tests/regression/56-witness/69-ghost-ptr-protection.c
  tests/regression/56-witness/69-ghost-ptr-protection.t
  tests/regression/56-witness/70-apron-unassume-set-tokens.c
  tests/regression/56-witness/70-apron-unassume-set-tokens.yml
  tests/util/yamlWitnessStripCommon.ml
Labels: feature, sv-comp

#1628 Error on must-relocking of non-recursive mutex
  src/analyses/mutexAnalysis.ml
  tests/regression/03-practical/21-pfscan_combine_minimal.c
  tests/regression/04-mutex/32-allfuns.c
  tests/regression/09-regions/31-equ_rc.c
  tests/regression/09-regions/32-equ_nr.c
Labels: feature
